<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="backbone.js"></script>
<script>
    
    var speedDialBookmarksApp = {};
    
    speedDialBookmarksApp.Bookmark = Backbone.Model.extend({
      
      'initialize' : function() {
        this.view = new speedDialBookmarksApp.BookmarkView(this);
      }
      
    });
    
    speedDialBookmarksApp.BookmarkGroup = Backbone.Collection.extend({
      'model' : speedDialBookmarksApp.Bookmark,
      
      'initialize' : function() {
        _.bindAll(this, 'render');
        this.bind('updated', this.render);
        this.bind('updated', this.store);
      },
      
      'render' : function() {
        $('#sdbkmks').html('');
        _.each(this.models, function(model) {
          model.view.render();
        })
      },
      
      'store' : function() {
        localStorage.removeItem('speedDialBookmarks');
        localStorage['speedDialBookmarks'] = JSON.stringify(this.models);
      }
    });
    
    speedDialBookmarksApp.BookmarkView = Backbone.View.extend({
      
      'initialize' : function(model) {
        this.model = model;
        _.bindAll(this, 'render');
        this.render();
      },
      
      'render' : function() {
        var self = this;
        if (!this.model.get('icon')) this.model.set({'icon': 'bkmk.png'});
        var template = '<img style="height:48px;width:48px;" src="<%= icon %>" alt="<%= title %>" title="<%= title %>" />';
        $(this.el).html(_.template(template, this.model.toJSON())).bind('click', function(e) {
          var url = self.model.get('url');
          chrome.tabs.getSelected(null, function (tab) {
             chrome.tabs.update(tab.id, {url: url});
            });
        }).bind('contextmenu', function(e) {
          e.preventDefault();
            if (e.shiftKey) {
              speedDialBookmarksApp.bkmkgroup.remove(self.model);
              speedDialBookmarksApp.bkmkgroup.trigger('updated');
            } else {
               chrome.tabs.getSelected(null, function(tab) {
                speedDialBookmarksApp.bkmkgroup.getByCid(self.model.cid).set({'url' : tab.url, icon: tab.favIconUrl});
                speedDialBookmarksApp.bkmkgroup.trigger('updated');
              });
            }
        }).css('float', 'left');
        $('#sdbkmks').append($(this.el));
      }
      
    });
    
    $('document').ready(function() {
      speedDialBookmarksApp.bkmkgroup = new speedDialBookmarksApp.BookmarkGroup(JSON.parse(localStorage['speedDialBookmarks']));
      speedDialBookmarksApp.bkmkgroup.trigger('updated');
      $('#new').click(function() {
        chrome.tabs.getSelected(null, function(tab) {console.log(tab);
          var title = prompt('Set a title for this speed dial position');
          if (!title) return;
          speedDialBookmarksApp.bkmkgroup.add({url: tab.url, title: title, icon: tab.favIconUrl});
          speedDialBookmarksApp.bkmkgroup.trigger('updated');
        });
      })
    })
</script>

<div id="sdbkmks" style="width:250px;"></div>
<br /><br />
<a id="new" style="cursor:pointer;color:blue;float:right;">add one</a>